@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: rgba(239,239,229,0.6);
    --color-buttons: rgba(52,73,94,1);
    --color-footer-letters: rgba(149,165,166,1);
    --color-text-primary: #000000a9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
     font-family: 'Montserrat Variable', sans-serif;
     background-color: var(--bg-color);
     height: 100vh;
     width: 100vw;
}