.nav{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 15px 50px 0 50px;
}

.nav-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #0000002e;
}

.nav-search input{
    border: none;
    height: 30px;
    outline: none;
    width: 120px;
    background-color: transparent;
}

.nav-search input::placeholder{
    color: #00000040;
    letter-spacing: 1px;
}

.nav-search i{
    font-size: 23px;
    color: var(--color-text-primary);
    cursor: pointer;
}

.nav-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-center .nav-title{
    color: var(--color-text-primary);
    font-size: 28px;
}

.nav-center-list{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 12px;
}

.nav-center-list .item-list{
    padding: 10px 10px;
    cursor: pointer;
}

.nav-center-list .item-list.active{
    border-bottom: 1px solid var(--color-text-primary);
    border-top: 1px solid var(--color-text-primary);
}

.nav-account{
    display: flex;
    gap: 20px;
}

.nav-account .nav-account-login{
    font-size: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-account .nav-account-login span:first-child,
.nav-account .nav-account-login span:last-child{
    cursor: pointer;
}

.nav-account .nav-account-cart{
    display: flex;
    justify-content: center;
    gap: 3px;
    padding: 8px;
    border-radius: 50%;
    align-items: center;
}

.nav-account .nav-account-cart small{
    font-size: 13px;
    font-weight: 900;
    color: #000;
    border-radius: 50%;
}

.nav-account .nav-account-cart i{
    font-size: 30px;
    cursor: pointer;
}

/* RESPONSIVE, HOVERS, FOCUS, ETC */

.nav-account .nav-account-login span:first-child:hover{
    opacity: .75;
}

.nav-account .nav-account-login span:nth-child(3):hover{
    opacity: .75;
}

